body {
	background-color: RGB(224, 130, 66);
}

h1 {
	color: #662900;
}

.margin {
	padding: 20px;
}

h3 {
	color: #662900;
}

/* code and class made by w3 schools, I changed the top and left numbers */
.top-left {
	position: absolute;
  top: 222px;
  left: 113px;
}

/* code and classes made by w3 schools. I just added the right: property */
.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
	right: 100px;
}
